<div class="body">
    <div class="welcomenote">
        <div>
            <h1>
                Welcome to <span class="logo">
                    Gup-Chup
                </span>
            </h1>
            <p>
                <i>
                    Welcome to our chat app - where connections are just a message away!
                </i>
            </p>
        </div>

    </div>
    <div class="logincontent">
        <div *ngIf="isLoggedIn">
            <h2>
                lets Start
            </h2>
            <form #loginForm="ngForm" (ngSubmit)="getOtp(loginForm.value)">

                <input type="email" required #name="ngModel" name="email" placeholder="Enter you Email" ngModel>
                <br>
                <button [disabled]="loginForm.invalid">Get Otp</button>
            </form>
        </div>
        <div>
           
                <div *ngIf="otbtemplet">
                    <p>
                        OTP send SuccessFully On {{Email}}
                    </p>
                    <a (click)="changeEmail()"> Change Email</a>
                    <br>
                    <br>
                    <form #otpform="ngForm" (ngSubmit)="varifiOTP(otpform.value)">

                        <input name="otp" required #name="ngModel" placeholder="Enter your otp" ngModel>
                        <br>
                        <button [disabled]="otpform.invalid" >Submit</button>
                    </form>
                    <br>
                    <a (click)="getOtp({email: Email})">Resend OTP ?</a>
                </div>
            
        </div>
        <div *ngIf="loder" class="loader" style="margin: auto;"></div>
        <div *ngIf="UnSuccessfully" class="error">
            <h5>
                UnSuccessfully!, please enter again
            </h5>
        </div>
    </div>
</div>