<div class="body">
  <div class="header">
    <img src= {{imgurl}} alt="image" width="50px">
    <h2 (click)="Showpopup()">Hi {{Name}}</h2>
    <div>
      <button class="notification-button">
        <span class="notification-icon"> <img src="../../assets/notification.png" width="25px"> </span>
      </button>
      <button class="button" (click)="ShowAllUser()"><img src="../../assets/addpepol.png" alt="" width="30px"></button>
    </div>
  </div>
  <h4>Your Chat</h4>
  <div class="popup-overlay" *ngIf="showPopup">
    <div class="popup">
      <div class="closebutton">
        <button (click)="closePopup()" class="notNow">X</button>
      </div>
      <div class="container">
        <div class="title">
          <h2 class="popupheading">Hi {{Name}}</h2>
        </div>
      </div>
      <br>
      <div class="popupheading"> <h5>Name : {{inputString}}</h5> </div>
      <br>
      <div class="popupheading"> <h5>Email : {{userData.email}}</h5> </div>
      <br>
      <div class="popupheading"><h5>Age : {{userData.age}}</h5> </div>
      <br>
      <div class="popupheading"><h5>Gender: {{userData.gender}}</h5> </div>
      <br>
      <div class="popupheading"><h5>City: {{userData.city}}</h5> </div>
      <br>
      <button class="logoutButton" (click)="logout()">
        Log out
      </button>
      <button class="logoutButton" (click)="UpdateProfile()">
          Update Profile
      </button>
    </div>

  </div>
  <div class="user-list" >
    <!-- Render user cards when userData is available -->
    <div *ngFor="let user of userArray" class="user-card" (click)="msg(user._id)">
        <!-- User card content -->
        <div class="user-image">
            <img src= {{imgurl}} alt="User Image" />
        </div>
        <div class="user-details">
            <h3>{{ user.name}}</h3>
            <div class="place">
                {{ user.city}}
                <i class="fa fa-map-marker"></i> <!-- Assuming you have a suitable icon library or image -->
            </div>
        </div>
    </div>
</div>
</div>